@import "tailwindcss";

@theme {
  --color-primary:#005461;
  --color-secondary:#018790;
  --color-tertiary:#F4F4F4
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}


#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #005461 #f1f1f1;
}


/* animation for slider*/

    @keyframes scrolling {
      0% {
        transform: translateX(0);
      }
  
      100% {
        transform: translateX(-100%);
      }
    }

.animate-category {
  animation: scrolling 20s linear infinite;
  will-change: transform;
}
.category-container:hover .animate-category{
  animation-play-state: paused;
}